{%extends "::layout.html.twig" %}

{% block content %}

    <div class="col-lg-6" style="margin-left: 25%;">

    {% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
<div>
    <input type="submit" value="{{ 'registration.submit'|trans }}" />
</div>
{{ form_end(form) }}
    </div>
{% endblock %}