{% extends "::layout.html.twig" %}


{% block content %}
    <header id="topbar" class="alt" style="padding: 10px;margin-left: 300px;" >
        <div class="topbar-left">
            <ol class="breadcrumb">
                <li class="crumb-active" >
                    <a> Creer un annonce </a>
                </li>
            </ol>
        </div>
    </header>

    <section id="content" class="table-layout" style="padding: 10px;margin-left: 300px;">
        <div class="tray tray-center">

            <div class="admin-form mw800 center-block theme-primary">
                <div class="panel" >
                    <div class="panel-heading">
                        <span class="panel-title"> Mon annonce </span>
                    </div>
                    <div class="panel-body">
                                <form method="POST" action="" >
                                  {{  form(form) }}
                                </form>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}