{% extends 'base.html.twig' %}
{% block title %}Kolibri Annonces{% endblock %}

{% block body %}

    <h3>
        <a class="btn btn-default" style="float: left; margin-left: 5%;margin-right: 25%;" href="{{ path('ko_main_annonces', {'id' : user.id}) }}"><span class="glyphicon glyphicon-arrow-left"> </span>  Retour au Profil</a>
        Editez votre annonce
    </h3>

    <div class="well" style=" margin:5%;margin-top: 1%;">
        {{ form(form) }}
    </div>
{% endblock %}