{% extends 'base.html.twig' %}
{% block body %}

    <h2>Vos Livraisons en cours :</h2><br><br>
    {% if proposals.accepted == 1 %}

    {% for trip in proposals.trip %}


{% endfor %}
    {% endif %}


{% endblock %}